$c-body: #fafffa;
$c-header: #333232;

$c-header-text: #fff;
$c-body-text: #000;

$c-success: #8aa051;
$c-success-hover: #788f3d;

$c-error: #da4f49;
$c-error-hover: #be342e;

$c-neutral: #8f8d8c;
$c-neutral-hover: #736b68;

$c-tab: #666;
$c-tab-selected: $c-success;
